build/
CMakeCache.txt
CMakeFiles/
CMakeScripts
Makefile
cmake_install.cmake

# Different systems have different binary formats
scene/arap
scene/cloth.off
scene/cloth_original.off
scene/result.off
scene/result2.off
scene/knee_tmp.json

# Cruft
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build

# Text editor
*.swp
*.bak
